.teknik-text {
  font-family: "Toyota Base", arial, helvetica, sans-serif;
  color: red;
  font-weight: 400;
  font-size: 1rem;
}
.table {
  text-align: center;
}
.break {
  overflow-wrap: break-word;
  display: block;
}
.total-row {
  width: 100%;
  text-align: right;
  background-color: #eee9da;
  font-family: "Toyota Base", arial, helvetica, sans-serif;
}

.button {
  border-radius: 15px;
  text-align: center;
}
.MuiFormLabel-root.Mui-focused {
  color: black !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: black !important;
}
.MuiOutlinedInput-root {
  color: black !important;
  border-color: black !important;
}
.MuiOutlinedInput-root :hover {
  color: black !important;
  border-color: black !important;
}
