.wrap div:last-child {
    margin-left: auto;
  }

  .wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .wrap-text{
    font-size:x-large;
    color:coral;
  }

  .Button{
    border: 1px solid black!important;
    border-radius: 10px!important;
  }

  