.active{
  background: yellow;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  border: 1px solid grey;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  
}
.td{
  border-bottom: 2px solid #000;
}
#root{
  height: 100%;
}
body{
  background: linear-gradient(#93BFCF, #6096B4) !important;
}