body{
  font-family: "Toyota Base", arial, helvetica, sans-serif;
 background: linear-gradient(#93BFCF, #6096B4) !important;
}
.round1 {
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 5px;
    padding: 50px;
    background: linear-gradient(#BDCDD6, #EEE9DA);
  }

.dene{
    border-radius: 20px;
   padding: 0%;
   margin-right: 200px;
  margin-left: 200px;
}
.vardiya{
    height: 10;
    width: 10;
}

input {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
  }

hr{
  border-top: 1px solid black;
  
}
.input-feedback {
  color: red;
  margin-top: 0.25rem;
}