.round1 {
    border: 2px solid rgb(139, 137, 137);
    border-radius: 5px;
    padding: 5px;
  }

.dene{
    background-color: aqua;
    border-radius: 20px;
}
.vardiya{
    min-width: 50px!important;
}

